.mainInfo {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.mainInfo__code {
  white-space: pre;
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  margin: 5px 0 40px;
  display: block;
}
