/* some minor style fixes for npm package todomvc-app-css */
.todoapp h1 {
  top: -230px;
}

.todoapp {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.todo-list li .destroy {
  display: block;
}
