.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  padding: 0 15px;
  border: 1px solid;
  font-size: 14px;
  font-family: inherit;
  line-height: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: #333;
  border-color: #cbd1d4;
  background-color: #f9f9f9;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #c6c9ca;
  border-radius: 2px;
  line-height: 31px;
  text-align: center;
}

.button:active {
  background-color: #e5e5e5;
}

.button_clicked {
  background-color: #e5e5e5;
}
