.menuButton {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-family: inherit;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-align: center;
  align-items: center;
  color: #aaa;
  justify-content: center;
  padding: 5px 10px;
}

.menuButton:hover {
  color: #fff;
  text-decoration: underline;
}

.menuButton_active {
  color: #fff;
}

.menuButton_active:hover {
  cursor: default;
  text-decoration: none;
}
